<!-- <div class="flex items-center max-w-md gap-2 pb-2 mx-auto mt-6 border-b border-green-600">
  <h2 class="text-lg font-bold text-green-800">Word Scoring</h2>
  
</div>

<form class="max-w-md mx-auto mt-4">
  <div class="flex items-center gap-4">
    <label for="customerCode" class="font-semibold text-right text-gray-700 w-36">Word :</label>
    <input
      id="customerCode"
      type="text"
      class="flex-grow px-3 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500"
      placeholder="Please Enter a word"
    />
  </div>
</form> -->
<!-- 2 -->

<div class="flex items-center gap-2 pb-2 mx-auto mt-6 border-b border-green-600">
    <h2 class="text-lg font-bold text-green-800">Word Scoring</h2>

</div>


<ng-container *ngIf="wordList.length < 5; else maxLength">
    <form class="max-w-xl pl-10 mt-6 space-y-6">
        <div class="flex items-center gap-4 ">
            <label for="Word" class="w-40 font-semibold text-right text-gray-700">Word :</label>
            <input id="Word" type="text" class="flex-grow px-3 py-2 border border-gray-300 rounded"
                placeholder="Enter a word" />
        </div>

        <div class="flex items-center gap-4">
            <div class="w-40"></div>
            <button type="submit" class="px-4 py-2 text-white bg-green-600 rounded hover:bg-green-700">
                Submit
            </button>
        </div>
    </form>
</ng-container>

<ng-template #maxLength>
    <h3 class="ml-20">Max 5 word per day !</h3>

</ng-template>

<!-- 3 -->
<!-- <div class="max-w-md p-4 text-left">
    <label for="wordInput" class="block mb-2 font-semibold text-gray-700">Word :</label>

    <dx-text-box id="wordInput" placeholder="Enter a word" class="w-full mb-4" stylingMode="underlined">
    </dx-text-box>

    <button class="px-6 py-2 text-white transition bg-green-600 rounded hover:bg-green-700">
        Submit
    </button>
</div> -->



<ng-container *ngIf="isVip;else notVip">
    <div class="container m-4 ">
        <dx-data-grid id="gridContainer" [dataSource]="wordList" [showBorders]="true">
            <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
            </dxo-editing>
            <dxo-editing mode="row"> </dxo-editing>
            <dxi-column dataField="word" [width]="160" [caption]="'คำ'"></dxi-column>

            <dxi-column cellTemplate="scoreTemplate" dataField="score" [width]="80" [caption]="'คะแนน'"></dxi-column>


            <dxi-column cellTemplate="dateTemplate" alignment="center" dataField="date" caption="วันที่"> </dxi-column>

            <dxi-column [caption]="'#'" [width]="210" cellTemplate="cellTemplateButton"></dxi-column>

            <div class="flex flex-wrap items-center justify-center gap-2"
                *dxTemplate="let data of 'cellTemplateButton'">
                <div class="btn">
                    <dx-button stylingMode="contained" text="Edit" type="success" [width]="70">
                    </dx-button>
                </div>
                <div class="btn">
                    <dx-button stylingMode="contained" text="Delete" type="danger" [width]="90">
                    </dx-button>
                </div>
            </div>


            <div *dxTemplate="let cell of 'scoreTemplate'">
                {{ cell.value | number:'1.0-0' }}
            </div>

            <div *dxTemplate="let cell of 'dateTemplate'">
                {{ cell.value | date : "dd / MM / yyyy" }}
            </div>




            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
        </dx-data-grid>
    </div>
</ng-container>

<ng-template #notVip>
    <div class="container m-4 ">
        <dx-data-grid id="gridContainer" [dataSource]="wordList" [showBorders]="true">
            <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
            </dxo-editing>
            <dxo-editing mode="row"> </dxo-editing>
            <dxi-column  dataField="word" caption="คำ" [width]="300" cellTemplate="wordTemplate">
            </dxi-column>

            <dxi-column  cellTemplate="scoreTemplate" dataField="score" [width]="80" [caption]="'คะแนน'">
            </dxi-column>




            <dxi-column cellTemplate="dateTemplate" alignment="center" dataField="date" caption="วันที่">
                
            </dxi-column>

            <dxi-column [caption]="'#'" [width]="210" cellTemplate="cellTemplateButton"></dxi-column>

            <div class="flex flex-wrap items-center justify-center gap-2"
                *dxTemplate="let data of 'cellTemplateButton'">

                <div class="btn">
                    <dx-button stylingMode="contained" text="Delete" type="danger" [width]="90">
                    </dx-button>
                </div>
            </div>


            <div class="" *dxTemplate="let cell of 'wordTemplate'">
                {{ convertStar(cell.value.length) }}
            </div>
            <div class="" *dxTemplate="let cell of 'scoreTemplate'">
                {{ convertStar(cell.value.toString().length) }}
            </div>

              <!-- <div *dxTemplate="let cell of 'scoreTemplate'">
                {{ cell.value | number:'1.0-0' }}
            </div> -->

            <div *dxTemplate="let cell of 'dateTemplate'">
                {{ cell.value | date : "dd / MM / yyyy" }}
            </div>



            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
        </dx-data-grid>
    </div>

</ng-template>