<app-head-underline [title]="'Customer Add Form'"></app-head-underline>

<div class="form grid grid-cols-1 ml-6">
  <dx-form
    class="form flex gap-4 max-w-2xl "
    id="form"
    [formData]="userData"
    [colCount]="1"
  >
<!-- borrow select -->
    <dxi-item [colCount]="2" itemType="group">
      <!-- <dxi-item itemType="group" captionTemplate="user" caption="Main Information"> -->
      <dxi-item
        editorType="dxTextBox"
        dataField="username"
        [label]="{ text: 'ชื่อผู้ใช้' }"
        [editorOptions]="{ height: 35 }"
      ></dxi-item>
      <dxi-item
      [(ngModel)]="userData.category"
        editorType="dxSelectBox"
        dataField="category"
        [label]="{ text: 'หมวดหมู่' }"
        [editorOptions]="{
          height: 35,
          dataSource: categoriesSelect,
          displayExpr: 'name',
          valueExpr: 'id',
          placeholder: 'เลือกหมวดหมู่'
        }"
      >
      </dxi-item>
    </dxi-item>

    <!-- repair task -->

    <dxi-item *ngIf="userData.category == 1 || userData.category == 2" [colCount]="2" itemType="group">
      <!-- <dxi-item itemType="group" captionTemplate="user" caption="Main Information"> -->
      <dxi-item
        editorType="dxTextBox"
        dataField="item"
        [label]="{ text: 'อุปกรณ์' }"
        [editorOptions]="{ height: 35 }"
      ></dxi-item>

    </dxi-item>


    <!-- software -->
    <dxi-item *ngIf="userData.category == 3 " [colCount]="2" itemType="group">
     <dxi-item
      [(ngModel)]="userData.category"
        editorType="dxSelectBox"
        dataField="software"
        [label]="{ text: 'โปรแกรม' }"
        [editorOptions]="{
          height: 35,
          dataSource: softwareSelect,
          displayExpr: 'name',
          valueExpr: 'id',
          placeholder: 'เลือกโปรแกรม'
        }"
      >
      </dxi-item>

      <dxi-item
        editorType="dxTextBox"
        dataField="problem"
        [label]="{ text: 'ปัญหา' }"
        [editorOptions]="{ height: 35 }"
      ></dxi-item>

    </dxi-item>


  </dx-form>
</div>

<app-button class="ml-20" (clicked)="testLog()" [message]="'Add'"></app-button>

<app-grid-customer class="max-w-auto flex flex-wrap justify-center m-5" [dataList]="dataList" [columnList]="columns"></app-grid-customer>
