 <div class="container pt-5 m-4 mx-auto" >
        <dx-data-grid id="gridContainer" [dataSource]="wordList" [showBorders]="true">

            <!-- <dxo-search-panel [visible]="true"></dxo-search-panel> -->

            <dxo-editing mode="row" [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false">
            </dxo-editing>
            <dxo-editing mode="row"> </dxo-editing>
            <dxi-column dataField="word" caption="คำ" [width]="300" cellTemplate="wordTemplate">
            </dxi-column>

            <dxi-column cellTemplate="scoreTemplate" dataField="score" [width]="80" [caption]="'คะแนน'">
            </dxi-column>




            <dxi-column cellTemplate="dateTemplate" alignment="center" dataField="date" caption="วันที่">

            </dxi-column>

            <dxi-column [caption]="'#'" [width]="210" cellTemplate="cellTemplateButton"></dxi-column>

            <div class="flex flex-wrap items-center justify-center gap-2"
                *dxTemplate="let data of 'cellTemplateButton'">

                <div class="btn">
                    <dx-button stylingMode="contained" text="Delete" type="danger" [width]="90">
                    </dx-button>
                </div>
            </div>


            <!-- <div *dxTemplate="let cell of 'scoreTemplate'">
                {{ cell.value | number:'1.0-0' }}
            </div> -->

            <div *dxTemplate="let cell of 'dateTemplate'">
                {{ cell.value | date : "dd MMMM yyyy" : '' : 'en-EN' }}
            </div>



            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
        </dx-data-grid>
    </div>