<!-- <header class="bg-green-200">
    <nav aria-label="Global" class="flex items-center justify-between p-6 mx-auto max-w-7xl lg:px-8">
        <div class="flex lg:flex-1">
            <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt=""
                class="w-auto h-8" />
        </div>
        <div class=" lg:flex lg:flex-1 lg:justify-end">
            <p (click)="onLogout()" class="font-semibold text-red-600 text-sm/6">Log out

            </p>
        </div>
    </nav>
</header> -->


<nav class="relative bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button type="button" command="--toggle" commandfor="mobile-menu"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
                        aria-hidden="true" class="size-6 in-aria-expanded:hidden">
                        <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon"
                        aria-hidden="true" class="size-6 not-in-aria-expanded:hidden">
                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex shrink-0 items-center">
                    <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
                        alt="Your Company" class="h-8 w-auto" />
                </div>
                <!-- <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a (click)="navigateTo('Dashboard')" aria-current="page"
                            class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white">Dashboard</a>
                        <a (click)="navigateTo('Dashboard')"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Team</a>
                        <a (click)="navigateTo('Dashboard')"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Projects</a>
                        <a (click)="navigateTo('Dashboard')"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white">Calendar</a>
                    </div>
                </div> -->

                <!-- normals -->
                <!-- 
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <button (click)="navigateTo('Dashboard')" aria-current="page"
                            class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" type="button">
                            Dashboard
                        </button>
                        <button (click)="navigateTo('Team')"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white"
                            type="button">
                            Team
                        </button>
                        <button (click)="navigateTo('Projects')"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white"
                            type="button">
                            Projects
                        </button>
                        <button (click)="navigateTo('Calendar')"
                            class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-white/5 hover:text-white"
                            type="button">
                            Calendar
                        </button>
                    </div>
                </div> -->


                <!-- admin dropdown -->
                <div class=" ml-20 relative inline-block text-left">
                    <!-- Dropdown toggle button -->
                    <button *ngIf="adminRoutes.length != 0" (click)="adminToggleDropdown()" type="button"
                        class="inline-flex justify-center w-full rounded-md bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50"
                        aria-haspopup="true">
                        Admin Menus

                        <!-- arrow -->
                        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.24a.75.75 0 01-1.06 0L5.23 8.27a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div *ngIf="adminDropdownOpen"
                        class="absolute right-0 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu" aria-orientation="vertical">
                        <div class="py-1" role="none">
                            <button *ngFor="let item of adminRoutes; index as i"
                                (click)="navigateTo(item.path); CloseDropdown()" type="button"
                                class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                role="menuitem">
                                {{ item.name }}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- user dropdown -->
                <div class=" ml-20 relative inline-block text-left">
                    <!-- Dropdown toggle button -->
                    <button *ngIf="userRoutes.length != 0" (click)="userToggleDropdown()" type="button"
                        class="inline-flex justify-center w-full rounded-md bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50"
                        aria-haspopup="true">
                        User Menus

                        <!-- arrow -->
                        <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.24a.75.75 0 01-1.06 0L5.23 8.27a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div *ngIf="userDropdownOpen"
                        class="absolute right-0 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                        role="menu" aria-orientation="vertical">
                        <div class="py-1" role="none">
                            <button *ngFor="let item of userRoutes; index as i"
                                (click)="navigateTo(item.path); CloseDropdown()" type="button"
                                class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100"
                                role="menuitem">
                                {{ item.name }}
                            </button>
                        </div>
                    </div>
                </div>





            </div>

            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class=" lg:flex lg:flex-1 lg:justify-end">
                    <p (click)="onLogout()" class="font-semibold text-red-600 text-sm/6">Log out

                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>